.PageTitle {
	margin-top: 3rem;
	margin-bottom: 3rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	align-items: center;
	gap: 1rem;

	h1 {
		margin: 0;
	}

	p {
		display: block;
		margin-top: 0.25rem;
	}
}

.center {
	text-align: center;

	> div {
		width: 100%;
	}
}

.icon {
	padding: 0.5rem 1rem 0.5rem 0;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		height: 4rem;
		min-width: 4rem;
	}
}
