.PageTitle {
	margin: var(--PageTitle-margin);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	align-items: center;
	gap: var(--PageTitle-spacing);

	&.center {
		text-align: center;
		display: flex;
		flex-direction: column;

		> div {
			width: 100%;
		}

		.icon {
			border: none;
			padding: 0;
		}
	}

	span {
		color: var(--PageTitle-accent-color);
		font-size: 0.75em;
		display: block;
	}

	h1 {
		margin: 0;
	}

	p {
		display: block;
		margin-top: 0.25rem;
		line-height: 1.4;
	}
}

.icon {
	flex-basis: var(--PageTitle-icon-size);
	padding: 0 var(--PageTitle-spacing) 0 0;
	width: var(--PageTitle-icon-size);
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 2px solid var(--PageTitle-accent-color);

	svg {
		fill: var(--PageTitle-accent-color);
		height: var(--PageTitle-icon-size);
		min-width: var(--PageTitle-icon-size);
	}
}
